html , body{
    background-color: white;
    font-family: sans-serif;
    font-size :20px;
}

.flex-container-header{
    align-items: center;
    background-color: red;
    display:flex;
    flex-wrap: nowrap;
}

.flex-container-header > div{
    background-color: blue;
    text-align: center;
    width: fit-content;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
}

.U{
    color:lightskyblue;
}

.text0{
    font-size: small;
    color: brown;
}

.blank-space{
    padding-left: 2rem;
    padding-right: 2rem;
}

.separador{
    color:grey;
    font-size: 0.5rem;
}

.name{
    font-size: small;
}

.text1{
    font-size: small;
    
}