html , body{
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size :15px;
}

body{
    /*background-color: white;*/
}

.flex-container-header{
    align-items: center;
    background-color: white;
    display:flex;
    flex-wrap: nowrap;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    justify-content: space-around;
}

.flex-container-header div:last-child {
    margin-left: auto;
  }

.flex-container-header > div{
    text-align: center;
    width: fit-content;
    margin: 10px;
    line-height: inherit;
}

.blank-space{
    padding-left: 2rem;
    padding-right: 2rem;
}   

.name{
    font-size: small;
}

.text1{
    font-size: small;
    
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px;
    margin: px;
    width: fit-content;
}
.right > div>i{
    margin-left:  10px;
    margin-right: 10px;
}

.grey{
    color: grey;
    align-content: flex-end;
}

.title{
    color: lightseagreen;  
    font-size: 30px;  
}

.grip-lines {
    font-size: 30px;
    color:grey;
    margin-left:  10px;
    margin-right: 10px;
}

.lock{
    margin: 0px;
}

.name{
    padding-left: 10px;
    color: lightseagreen;  
    font-size: 1rem;
}

.contrasena{
    align-items: center;
    height: 30px;
    display: flex;
    flex-wrap: nowrap ;
    color: aquamarine;
    padding-right: 10px;
    border-right: 1px solid gray;
}

.candado{
    display: flex;
    flex-direction:column;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    
    border-left: 1px solid gray;
}
.candado>i{
    padding-top: 5px;
}

.flex-container-body{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-container-whitebox{
    border-radius: 10px;
    flex-basis: 230px;
    background-color: white;
    margin: 30px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.packages{
    color: grey;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-top: 50px;
}

.text2{
    padding-left: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: grey;
    height: fit-content;
}

.link{
    color: lightseagreen;
    padding-left: 30px;
    margin-bottom: 10px;
}

.complicated-stuff{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.input{
    /*margin: 5px ;
    padding:5px;
    border: 5px solid grey;
    border-radius: 50px;*/
    /*border-radius: 18px;
    background: #609;
    margin-top: 30px;
    padding: 20px; 
    width: 200px;
    height: 15px;*/
}

.plus-button{
    align-self: center;
    font-size: 30px;
}

.new-package{
    color: lightseagreen;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 25px;
    
    border-top: 1px solid grey;
}

input.rounded {
    margin: 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;*/
    font-size: 15px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
  }
  
  input.rounded:focus {
    border-color:black;
  }

  .agregar{
      margin-left: 20px;
  }

.flex-container-board{
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.grad{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.first-grade{
    color: lightseagreen;
    margin: 20px;
}

.pencil{
    color: grey ;
    align-self: center;
}

.trash{
    color: darkred;
    align-self: center;
    margin-left: 10px;
}